pkgbase = linux-cachyos-surface
	pkgdesc = Linux CachyOS kernel with linux-surface patches
	pkgver = 6.19.8
	pkgrel = 1
	url = https://github.com/jonpetersathan/linux-cachyos-surface
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = git
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-6.19.8-1/cachyos-6.19.8-1.tar.gz
	source = config
	source = https://raw.githubusercontent.com/linux-surface/linux-surface/arch-6.19.8-3/configs/surface-6.19.config
	source = linux-surface::git+https://github.com/linux-surface/linux-surface.git
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.19/misc/dkms-clang.patch
	b2sums = SKIP
	b2sums = 81fafd3adcaf3b690d8d4791693e68c7ae921d103ebfd70e8d0ae15cd05ecde5e6672ae43c3a7875686d883c1f5b82d2c8b37b40aee8dcb0563913f9dd6469b6
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = linux-cachyos-surface
	pkgdesc = The Linux CachyOS kernel with linux-surface patches and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE
	provides = linux-cachyos-lto=6.19.8-1
	replaces = linux-cachyos-lto

pkgname = linux-cachyos-surface-headers
	pkgdesc = Headers and scripts for building modules for the Linux CachyOS kernel with linux-surface patches
	depends = pahole
	depends = linux-cachyos-surface
	depends = clang
	depends = llvm
	depends = lld
	provides = linux-cachyos-lto-headers=6.19.8-1
	replaces = linux-cachyos-lto-headers
